<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recursos/css/style.css">
    <title>Register</title>
</head>

<body>
    <div class="register-form">
        <h1>Registro</h1>
        <form action="register" method="POST">
            <label for="user">Nombre de usuario</label>
            <input type="text" name="user" required>

            <label for="name">Nombre Completo</label>
            <input type="text" name="name" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="admin" selected> Admin</option>
                <option value="data entry">Data entry</option>
            </select>

            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a> <input type="submit" class="btn-save" value="Save">
            </div>
        </form>
    </div>



    <!-- Para el botón de notificaciones-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Para el sweet alert-->
    <% if(typeof alert !="undefined" ){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%=  alertMessage%>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                time: '<%= timer %>',
            }).then(() => {
                window.location = '/<%= ruta%>'
            });
        </script>
        <% }%>
</body>

</html>